.container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #f8f8f8;
    margin-top: 70px;
  }
  .btn1{
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(144, 138, 134);
    color: white;
  }
  .card {
    background-color: white;
    width: 30%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
  }
  
  .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .content {
    padding: 20px;
  }
  
  .content h3 {
    color: #ff4b5c;
    margin-top: 0;
  }
  
  .content p {
    color: #555;
  }
  
  .card-link {
    display: inline-block;
    margin-top: 15px;
    color: #ff4b5c;
    text-decoration: none;
    font-weight: bold;
  }

  .cart {
    margin-top: 30px;
    text-align: left;
    text-align: center;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart li {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    
    align-items: center;
  }
  
  .cart button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #ff4b5c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart button:hover {
    background-color: #ff1c1c;
  }
  ul li{
    justify-content: center;
  }