/* HeaderMenu.css */
.header-menu {
    background-color: #333;
    padding: 10px 0;
  }
  
  .header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .header-menu ul li {
    margin: 0 20px;
  }
  
  .header-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .header-menu ul li a:hover {
    text-decoration: underline;
  }
  